@import "mixins/mixins.scss";

.form-section{
  width: 100%;
  

  .form-header{
    
    width:100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

    h2{
      
      margin-right: auto;
    }
    .error-text{
      color:rgb(255,100,100);
      padding-right: 15px;
      text-align: start;
    }
  }

  .form-section-inner{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    border-radius: 6px;
    overflow: hidden;

    .checkbox-section{
      display: flex;
      width:100%;
      justify-content: space-between;
      align-items: center;
    }

    .form-input{
      width: 100%;
      height:50px;
      display:flex;
      flex-direction: row;
      border-bottom:1px solid white;
      align-items: center;
      justify-content: center;
      transition-duration: 0.2s;
      padding: 0 5px 0 10px;
    
      &:hover{
        background:rgba(0,0,0,0.3);
      }
      
      &.checkbox{
        
        width: 150px;
        border-bottom: none;
        border-radius: 6px;
        //margin-right: 10px;

        .form-input-header{
          min-width: 100px;
        }
        
      }

      &.text{
        height:100px;
        flex-direction: column;
        align-items: center;
        padding: 0 10px;

      }

      &.number{}
    
      .form-input-header{
        min-width:200px;
        margin:auto auto auto 0;
        //margin-bottom:10px;
        display: flex;
        align-items: center;
          
        .material-icons{
          margin-right:10px;
          font-size: 18px;
        }
      }
    
      input[type=text],input[type=number]{
        padding:10px;
        background: none;
        border:none;
        color:white;
        transition-duration: 0.2s;
        width:100%;
        text-align: end;
        margin: auto auto auto 20px;

      }
    
      
      input[type=text]{
 
        width:calc(100% - 14px);
        margin: 0 0 8px;

      }
    
      input[type=checkbox] {
        position: relative;
        cursor: pointer;
        width: 20px;
        height: 20px;
        margin-left: auto;
        margin-right:10px;
      }
    
      input[type=checkbox]:before {
        content: "";
        display: block;
        position: absolute;
        width: 20px;
        height: 20px;
        top: 0;
        left: 0;
        border: 1px solid white;
        border-radius: 4px;
        background-color: var(--background);
      }
    
      input[type=checkbox]:checked:after {
        content: "";
        display: block;
        position: absolute;
        width: 20px;
        height: 20px;
        top: 0;
        left: 0;
        border: 1px solid white;
        border-radius: 4px;
        background-color: rgb(144, 185, 238);
      }
    
      input[type=checkbox]:checked:before {
        content: "";
        display: block;
        width: 20px;
        height: 20px;
        border: 1px solid white;
        border-radius: 4px;
        background: rgba(255,255,255,0);
        position: absolute;
        top: 0px;
        left: 0px;
      }
    }
  }
}



@include media-md{
  .form-section{
  
    .form-header{
      height:35px;
      flex-direction: row;
      align-items: flex-end;
      text-align: end;
  
      .error-text{
      }
    }
  
    .form-section-inner{
      width:100%;
      display: flex;
      flex-wrap: wrap;
      border-radius: 6px;
      overflow: hidden;
  
     
  
      .form-input{
        width: 100%;
        height:50px;
        display:flex;
        flex-direction: row;
        border-bottom:1px solid white;
        align-items: center;
        justify-content: center;
        transition-duration: 0.2s;
        padding: 0 5px 0 10px;
      
        &:hover{
          background:rgba(0,0,0,0.3);
        }
        
        &.checkbox{
        }
  
        &.text{
          flex-direction: row;
          height:50px;
          
          padding: 0 5px 0 10px;
        }
  
        &.number{}
      
        .form-input-header{
          min-width:200px;
          margin-right: auto;
          display: flex;
          align-items: center;
          
        }
      
        input[type=text],input[type=number]{
          padding:10px;
          background: none;
          border:none;
          color:white;
          transition-duration: 0.2s;
          width:100%;
          text-align: end;
          margin: 0 0 0 20px;
        }
    
      }
    }
  }
}

@include media-xl{
  .form-section{
    width: 100%;
    min-width:500px;
    max-width:1000px;
    margin-right:auto;
  
    .form-header{
      height:35px;
      width:100%;
      display: flex;
      align-items: flex-end;
      margin-bottom: 10px;
  
      .error-text{
      }
    }
  
    .form-section-inner{
      width:100%;
      display: flex;
      flex-wrap: wrap;
      border-radius: 6px;
      overflow: hidden;
  
      .checkbox-section{
        display: flex;
        width:100%;
      }
  
      .form-input{
        width: 100%;
        height:50px;
        display:flex;
        flex-direction: row;
        border-bottom:1px solid white;
        align-items: center;
        justify-content: center;
        transition-duration: 0.2s;
        padding: 0 5px 0 10px;
      
        &:hover{
          background:rgba(0,0,0,0.3);
        }
        
        &.checkbox{
        }
  
        &.text{}
  
        &.number{}
      
        .form-input-header{
          min-width:200px;
          margin-right: auto;
          display: flex;
          align-items: center;
            
        }
      
        input[type=text],input[type=number]{
          padding:10px;
          background: none;
          border:none;
          color:white;
          transition-duration: 0.2s;
          width:100%;
          text-align: end;
          margin: 0 0 0 20px;
        }
    
      }
    }
  }
}

// 320