@import "mixins/mixins.scss";

@include custom-scrollbar();
@include themes();
@include hideArrows();

html{
  height:100%;

  body {
    @include defaultText(); 
    position: relative;
    margin: 0;
    padding: 0;
    background: rgb(40,45,55);
    color: white;
    height: 100%;
    
    #root{
      height: 100%;

      .App{
        position: relative;
    
        .main-section{
          display:flex;
          justify-content: center;
          padding:50px 25px;

          &.bottom{
            background:rgba(0,0,0,0.3);
          }

          .main-section-inner{
            width:100%; 
            display: flex;
            flex-direction: column;

            .title-section{
              margin-bottom:50px;
            }

            .image-section{
              width:100%;
              display:flex;
              flex-direction: column-reverse;
              margin-bottom:20px;
            }
          }
          
          .link-section-outer{
            display: flex;
            flex-direction: column;
          }
        }
      }
    }
  }
}


@include media-md{
  html{
    body {
      #root{
        .App{
          .main-section{
            padding:100px 0;

            .main-section-inner{
              width:600px; 

              .title-section{
                margin-bottom:100px;
              }

              .image-section{
                margin-bottom:50px;
              }
            }
            
          }
        }
      }
    }
  }
  
}

@include media-xl{
  html{
    body {
      #root{
        .App{
          .main-section{
            padding:100px 0;
  
            .main-section-inner{
              width:1000px; 

              .image-section{
                flex-direction: row;
                margin-bottom:100px;
              }

              
              .link-section-outer{
                flex-direction: row;
                justify-content: space-between;
              }
            }
          }
        }
      }
    }
  }
  
}