@import "mixins/mixins.scss";

@include custom-scrollbar();
@include themes();
@include hideArrows();

html{
  height:100%;

  body {
    @include defaultText(); 
    position: relative;
    margin: 0;
    padding: 0;
    background: rgb(40,45,55);
    color: white;
    height: 100%;
    
    #root{
      height: 100%;

      .App{
        position: relative;
    
        .main-section{
          display:flex;
          justify-content: center;
          padding:100px;

          &.bottom{
            background:rgba(0,0,0,0.3);
          }

          .main-section-inner{
            width:1000px; // change for mobility
            display: flex;
            flex-direction: column;

            .title-section{
              margin-bottom:100px;
            }

            .image-section{
              width:100%;
              display:flex;
              margin-bottom:100px;
            }
          }
          
          .link-section-outer{
            display: flex;
            justify-content: space-between;
          }
        }
      }
    }
  }
}